<div class="enter"><strong>EnglishPronunciationChecker</strong></div>
<div class="all">
  <div class="FlashCard">
    <%= link_to 'FlashCard','flash_card',class:"list" %>
  </div>
  <div class="Import">
    <%= link_to 'Import','import',class:"list" %>
  </div>
  <div class="Export">
    <%= link_to 'Export','export',class:"list" %>
  </div>
  <div class="SignUp">
    <%= link_to 'SignUp','sign_up',class:"list" %>
  </div>
</div>
