<div class="enter"><strong>EnglishPronunciationChecker</strong></div>
<div class="all">
  <div class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    <%= link_to 'FlashCard','register_main',class:"list" %>
  </div>
  <div class="jornal">
    <%= link_to 'Import','journal_main',class:"list" %>
  </div>
  <div class="customor">
    <%= link_to 'Export','search_main',class:"list" %>
  </div>
  <div class="adddel">
    <%= link_to 'SignUp','add_main',class:"list" %>
  </div>
</div>
