<div class="enter"><strong>EnglishPronunciationChecker</strong></div>
<div class="all">
  <div class="register">
    <%= link_to 'FlashCard','',class:"list" %>
  </div>
  <div class="jornal">
    <%= link_to 'Import','',class:"list" %>
  </div>
  <div class="customor">
    <%= link_to 'Export','',class:"list" %>
  </div>
  <div class="adddel">
    <%= link_to 'SignUp','',class:"list" %>
  </div>
</div>
