<%= render :partial => "/partial/share_head" %>
<div class='new'>
  <h1>最新のカード</h1>
  <% if @userfiles.present? %>
      <% for userfile in @userfiles %>
        <%= userfile.filename %>
        <%= userfile.description %>
        <%= link_to 'Show', fileshow_path(userfile) %><br>
      <% end %>
  <% end %>
</div>
