<%= render :partial => "/partial/share_head" %>
<div class='new'>
  <h1>最新のカード</h1>

  <div class="share_list">
    <% if @userfiles.present? %>
        <% for userfile in @userfiles %>
          <a><%= userfile.filename %></a>
          <%= userfile.description %>
          <%= link_to 'Show', fileshow_path(userfile) %><br>
        <% end %>
    <% end %>
  </div>
</div>
