<%= render :partial => "/partial/head" %>
<h3 class='new_user'>Please sign up</h3>
<%= render 'form', user: @user %>
<%= link_to 'Back', root_path,class:'back_button mdl-button mdl-js-button mdl-button--primary' %>
