<%= render :partial => "/partial/head" %>
<h1 class='new_user'>Please sign up</h1>
<%= render 'form', user: @user %>
<%= link_to 'Back', root_path,class:'mdl-button mdl-js-button mdl-button--primary' %>
