<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title" id="small_title">MFC</span>
    <span class="mdl-layout-title" id="big_title">EPC</span>
    <div class="mdl-layout-spacer"></div>
    <input id="vocalization" class="vocalization" type="text" size="30"></form>
    <div class="vocalization_button mdl-button mdl-js-button mdl-button--raised">Play</div>

      <%= link_to 'Login','user/sign_in',class:"login_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>

  </div>
</header>
