<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title" id="big_title">
      <a href="/top" class="header_title">EPC</a>
    </span>
    <input id="vocalization" class="vocalization" type="text"></form>
    <button class="vocalization_button">
      <i class="material-icons">play_arrow</i>
    </button>
    <!-- userが存在するかの確認 -->
    <% if current_user.blank?  %>
    <%= link_to 'Login','/user/sign_in',class:"login_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% else %>
    <span class="current_user"><%= @current_user.Username%>さん</span>
    <%= link_to 'LogOut','user/sign_out',:method => 'delete',class:"login_button mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% end %>
  </div>
</header>
