<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title" id="big_title">
      <a href="/top" class="header_title">EPC</a>
    </span>
    <input id="tag_search" class="tag_search" type="text" placeholder="タグで検索"></form>
    <button id="key_search" class="search_button mdl-js-button  mdl-button--colored">
      <i class="material-icons  ">search</i>
    </button>
    <!-- userが存在するかの確認 -->
    <% if current_user.blank?  %>
    <%= link_to 'Login','/user/sign_in',class:"mdl-button mdl-js-button mdl-button--raised  login_button" %>
    <% else %>
    <%= link_to '公開','/share/create',:method => 'get',class:"mdl-button mdl-js-button mdl-button--raised  login_button" %>
    <span class="current_user"><%= @current_user.name%>さん</span>
    <%= link_to 'LogOut','user/sign_out',:method => 'delete',class:"mdl-button mdl-js-button mdl-button--raised  login_button" %>
    <% end %>
  </div>
</header>
