<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> -->
   <!-- <script type="text/javascript" src=..//s/assignment.js"></script>
   <script type="text/javascript" src=..//s/jquery-linedtextarea.js"></script> -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0, max-layoutum-scale=1.0, minimum-scale=1.0">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <!-- <link rel="stylesheet" href=/css/assignment.css"> -->
   <!-- <link rel="stylesheet" href="css/jquery-linedtextarea.css"> -->
</head>
<%= render :partial => "/partial/head" %>
<div class="form">以下に英語とそれの日本語訳を記入し自分のフラッシュカードを作成できます<br>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="title">
    <label class="mdl-textfield__label" for="title">保存するタイトル名</label>
  </div></br>
  <div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input lined" type="text" rows="25" id="english"></textarea>
    <label class="mdl-textfield__label" for="english">　　　　please write English here...</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input lined" type="text" rows="25" id="japanese"></textarea>
    <label class="mdl-textfield__label" for="japanese">　　　　please write Japanese here...</label>
  </div></br>
  <% if current_user.blank? #userが存在するかの確認 %>
    <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onClick=createJson() value=ダウンロードリンクの生成>
  <% else %>
    <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onClick=CardsToDb() value=DBに保存 remote:true>

    <label for="file" class="file">
      <input type="file" name="file" value="" id="file">
      <div id="JsonToDb" class="mdl-button mdl-js-button mdl-button--accent">JSONをDBに保存</div>
    </label>
    <input type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onClick=importJson() value=決定>
  <% end %>
</br></br></br>
</div>
