.editing_button{
  width: 60px;
  border-radius: 8px;
  color: white;
  background-color: #3f51b5;
  margin-right: 10px;
  float: right;
}
.file_list{
  width: 60%;

}
.list_color{
  background-color: #CCC;
}
.file_list li{
  height: 30px;
}
