// Place all the styles related to the export controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.json_to_db{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 210px;
}
.json_to_db label{
  float: left;
}
.json_to_db input{
  float: left;
}
.title{
}
