// Place all the styles related to the export controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.json_to_db label{
  float: left;
  width: 60%;
  text-align: right;
}
.json_to_db input{
  float: left;
}
.json_to_db{;
  margin-top: 20px;
}
.export_file_name{
  // position:relative;
  // right: 30%;
}
// @media(max-width:1200px) {
//   .export_file_name{
//     position: relative;
//     right: 100px;
//   }
// }
@media(max-width:990px) {
  .export_file_name{
    position: relative;
    right: 0px;
  }
}
@media(max-width:500px) {
  .json_to_db label{
    width: 68%;
  }
  .export_file_name{
    // position: relative;
    // right: 0px;
  }

}
