html {
    background-color: #f5f5f5;
    margin: 0;
}
.c_button{
  width: 40px;
  border-radius: 10px;
  color: white;
  background-color: #3f51b5;
  margin-right: 10px;
}
.header_title{
  text-decoration: none;
}
.header_title:link { color:#ffffff; text-decoration:none }
.header_title:visited { color:#ffffff; text-decoration:none }
.header_title:hover { color:#ffffff; text-decoration:none }
.header_title:active { color:#ffffff; text-decoration:none }

#small_title{
  display: none;
}
i{
  float: right;
}
.c_box{
    height: 220px;
    width: 44%;
    margin: 30px 3% 30px 3%;
    float: left;
}
.c_button{
  float: right;
}

main .e_card {
    display: block;
    height: 200px;
    background-color: #dfd;
}

main .e_card:hover {
    background-color: #dfd;
}

.e_w {
    // font-size: 300%;
    line-height: 1.5;
    text-align: center;
    padding-top: 0px;
}

.j_w {
    font-size: 200%;
    color: #ff4500;
    display: none;
}

.form, form {
    text-align: center;
    margin: 5% 10%;
    background-color: lightgreen;
    padding: 15px;
}

form textarea {
    height: 100%;
    width: 60%;
}

.linedwrap, #title {
    background-color: white;
}

.file input{
  display:none;
}

.file div{
  cursor: pointer;
}

@media(max-width:1140px) {
    .c_box{
              margin: 90px auto 0 4%;
    }
}

@media(max-width:800px) {
    .c_box{
      margin-left: 5%;
      width: 90%;
    }
    .e_w {
    }
}

@media(max-width:500px) {
    main .e_card {
    }
    .e_card{
      width: 100%;
    }

    #small_title{
      display: block;
    }
    .c_box{
      // width: 83%;
      margin-top: 4%;
    }
}
