// Place all the styles related to the share controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search{
  margin-right: 5px;
}
.search_button{
  width: 40px;
  border-radius: 10px;
  color: white;
  background-color: #3f51b5;
  margin-right: 10px;
}
input.search{
  margin-right: 1px;
  width: 350px;
}
.new_arrival{
  margin: 30px;
  text-align: center;
  color: gray;
  font-size: calc(5vw + 10px);
}
.share_list{
  margin-left: 5.5vw;
}
.demo-card-square.mdl-card {
  width: 200px;
  height: 250px;
  float: left;
  margin: 30px;
}
.mdl-card__title{
  background-color: mediumseagreen;
}
.mdl-card__title-text{
  background: rgba(0,0,0,0.2);
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url(/images/anki_card.png) bottom right 15% no-repeat #46B6AC;
    background-size: contain;
}
.file_description{
  margin-bottom: 10px;
  padding-bottom: 60px;
}
.mdl-list__item{
  background-color: silver;
}
.update_time{
  color: dimgrey;
}

@media(max-width:1140px) {
  input.search{
    width: 300px;
  }
  .search_button{
    margin-right: 10px;
  }
}
@media(max-width:800px) {
  input.search{
    width: 140px;

  }
  .search_button{
    margin-right: 2px;
  }
  .search_button{
    margin-right: 5px;
  }
}
@media(max-width:520px) {
  input.search{
    width: 125px;
  }
  .search_button{
    margin-right: 2px;
  }
  .demo-card-square{
    margin: 20px !important;
    width: 80vw !important;
  }
  .mdl-list__item{
    height: 150px;
  }
 .mdl-list__item-primary-content,.mdl-list__item-secondary-content{
   margin-top: -75px;
 }
}
