// Place all the styles related to the signUp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user{
  text-align: center;
}
.actions{
  text-align: center;
}
.sign_up_button{
  margin-top: 15px;
}
