// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.e_w {
  margin-bottom: 0px;
  height: 50%;
  text-align: center;
}
.j_w{
  margin: 0;
  padding: 0;
  height: 50%;
  text-align: center;
}
