.header_title{
  margin-right: 10px;
}
.vocalization{
  margin-right: 5px;
}
.vocalization_button{
  width: 40px;
  border-radius: 10px;
  color: white;
  background-color: #3f51b5;
  margin-right: 10px;
}

.login_button{
  width: auto;
  height: 30px;
  margin-left: auto;
  border: solid 1px #7b68ee;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #fff;
  text-decoration: none;
}
.current_user{
  margin-left: 5px;
  padding-top: 3px;
}
input.vocalization{
  margin-right: 1px;
  width: 350px;
}
.import_button{
  margin-right: 100px;
}
.back_button{
  width: 98%;
  text-align: center;
}
@media(max-width:1140px) {
  input.vocalization{
    width: 300px;

  }
  .import_button{
    margin-right: 50px;
  }
  .login_button{
    margin-left: auto;
  }
  .vocalization_button{
    margin-right: 10px;

  }
}
.current_user{
  margin-left: 5px;
  position: absolute;right: 100px;


}
.import_button{
  margin-right: 20px;
}
@media(max-width:800px) {
  input.vocalization{
    width: 140px;

  }

  .login_button{
    font-size: 13px;
  }
  .import_button{
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  .shufful_button{
    padding: 0;
    margin: 0;
  }
  .vocalization_button{
    margin-right: 2px;
  }
  .current_user{
    position: absolute; right: 65px;
    padding-top: 4px;
    margin-right: 10px;
  }
  .vocalization_button{
    margin-right: 5px;
  }
}
@media(max-width:520px) {
  input.vocalization{
    width: 125px;
  }
  .mdl-button{
    padding: 0 2px 0 2px;
  }
.header_title{
  margin-right: 3px;
}
  .current_user{
      display: none;
  }
  .import_button{
    font-size: 11px;
    padding: 0;
    margin: 0;
  }
  .shufful_button{
    padding: 0;
    margin: 0;
  }
  .mdl-layout__drawer-button{
    width: 23px;
  }
  .mdl-layout__header-row{
    // width: 30px;
    padding: 0 5px 0 30px;
  }
  .vocalization_button{
    margin-right: 2px;
  }
  .login_button{
    // margin-left: auto;
    font-size: 10px;
  }
}
