.mdl-layout__header-row form {
    margin: 0;
    padding: 0;
    height: 30px;
    // padding-top: 15px;
    background-color: #3f51b5;
}
.share_search_button{
  width: auto;
  height: 30px;
  margin-left: auto;
  border: solid 1px #7b68ee;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 3px;
}
